h1 {
  text-align: center;
}

ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}

.article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
  padding-top: 10px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
}

input {
  width: 40%;
}